# Wine Quality Data Set
<img src="https://archive.ics.uci.edu/ml/assets/MLimages/Large186.jpg" width = "100"/>

In [1]:
library(repr)
library(tidyverse)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use suppressPackageStartupMessages() to eliminate package startup messages

In [2]:
wine_data <- read_csv2("winequality-red.csv")
slice(wine_data, 1:6)

ℹ Using "','" as decimal and "'.'" as grouping mark. Use `read_delim()` for more control.

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 1599 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (5): volatile acidity, citric acid, chlorides, density, sulphates
dbl (2): total sulfur dioxide, quality

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  fixed acidity volatile acidity citric acid residual sugar chlorides
1  74           0.7              0           19             0.076
2  78           0.88             0           26             0.098
3  78           0.76             0.04        23             0.092
4 112           0.28             0.56        19             0.075
5  74           0.7              0           19             0.076
6  74           0.66             0           18             0.075
  free sulfur dioxide total sulfur dioxide density pH  sulphates alcohol
1 11                  34                   0.9978  351 0.56      94
2 25                  67                   0.9968   32 0.68      98
3 15                  54                   0.997   326 0.65      98
4 17                  60                   0.998   316 0.58      98
5 11                  34                   0.9978  351 0.56      94
6 13                  40                   0.9978  351 0.56      94
  quality
1 5
2 5
3 5
4 6
5 5
6 5

In [3]:
colnames(wine_data) <- make.names(colnames(wine_data))
slice(wine_data, 1:6)

  fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1  74           0.7              0           19             0.076
2  78           0.88             0           26             0.098
3  78           0.76             0.04        23             0.092
4 112           0.28             0.56        19             0.075
5  74           0.7              0           19             0.076
6  74           0.66             0           18             0.075
  free.sulfur.dioxide total.sulfur.dioxide density pH  sulphates alcohol
1 11                  34                   0.9978  351 0.56      94
2 25                  67                   0.9968   32 0.68      98
3 15                  54                   0.997   326 0.65      98
4 17                  60                   0.998   316 0.58      98
5 11                  34                   0.9978  351 0.56      94
6 13                  40                   0.9978  351 0.56      94
  quality
1 5
2 5
3 5
4 6
5 5
6 5

In [4]:
wine_data <- wine_data |> 
  mutate(across(fixed.acidity:alcohol, as.numeric)) |>
  mutate(quality = as_factor(quality))

slice(wine_data, 1:6)

  fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1  74           0.70             0.00        19             0.076
2  78           0.88             0.00        26             0.098
3  78           0.76             0.04        23             0.092
4 112           0.28             0.56        19             0.075
5  74           0.70             0.00        19             0.076
6  74           0.66             0.00        18             0.075
  free.sulfur.dioxide total.sulfur.dioxide density pH  sulphates alcohol
1 11                  34                   0.9978  351 0.56      94
2 25                  67                   0.9968   32 0.68      98
3 15                  54                   0.9970  326 0.65      98
4 17                  60                   0.9980  316 0.58      98
5 11                  34                   0.9978  351 0.56      94
6 13                  40                   0.9978  351 0.56      94
  quality
1 5
2 5
3 5
4 6
5 5
6 5

In [5]:
wine_split <- initial_split(wine_data, prop = 0.75, strata = quality)  
wine_train <- training(wine_split)   
wine_test <- testing(wine_split)

In [6]:
wine_train_avg <- wine_train |> 
  summarize(across(fixed.acidity:alcohol, mean, na.rm = TRUE))

wine_train_avg

  fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1 75.14608      0.5287062        0.27101     27.21119       0.08833306
  free.sulfur.dioxide total.sulfur.dioxide density   pH       sulphates
1 16.37563            45.86622             0.9967829 298.8831 0.6597913
  alcohol
1 1.171675e+12

In [9]:
wine_train |>
group_by(quality) |>
summarize(n=n())

  quality n
1 3         7
2 4        43
3 5       511
4 6       477
5 7       149
6 8        11

In [12]:
wine_train[!complete.cases(wine_train),]

  fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1 66            0.63             0           43             0.093
2 66            0.63             0           43             0.093
  free.sulfur.dioxide total.sulfur.dioxide density pH sulphates alcohol quality
1 51                  NA                   0.99558 32 0.45      95      5
2 51                  NA                   0.99558 32 0.45      95      5

In [15]:
wine_train <- na.omit(wine_train)

create new dataset without missing data
newdata <- na.omit(mydata)

list rows of data that have missing values
mydata[!complete.cases(mydata),]